global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'cluster']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h
  receiver: 'default'

receivers:
  - name: 'default'
    # Add webhook, email, Slack here later
    webhook_configs:
      - url: 'http://localhost:5001/'  # Placeholder